body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.header-info{
    background-color: #306792;
    text-align: center;
    color: white;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.requred{
    color: red;
}
